.bento__container {
    display: grid;
    width: 100%;
    gap: var(--spacing-lg);
    grid-template-columns: repeat(12, 1fr); /* standard 12 columns */
    grid-auto-rows: 160px; /* 140px to 180px */

    grid-template-areas:
        "feat feat feat feat feat feat feat feat side side side side"
        "feat feat feat feat feat feat feat feat side side side side"
        "feat feat feat feat feat feat feat feat side side side side"
        "post post post post vide vide vide vide smal smal smal smal"
        "post post post post vide vide vide vide smal smal smal smal";
}

.bento__item {
    display: flex;
    flex-flow: column;
    gap: var(--spacing-lg);
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-md);
    padding: var(--spacing-md);
    box-shadow: var(--shadow-sm);
}

.bento__content {
    display: flex;
    flex-flow: column;
    gap: var(--spacing-sm);
}

.bento__img {
    position: absolute;
}

.bento__item--featured {
    grid-area: feat;
}

.bento__item--sidebar {
    grid-area: side;
}

.bento__item--poster {
    grid-area: post;
}

.bento__item--video {
    grid-area: vide;
}

.bento__item--small {
    grid-area: smal;
}

@media (max-width: 768px) {
    .bento__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "feat feat"
            "feat feat"
            "side side"
            "post vide"
            "smal smal";
    }
}