.button {
    border: none;
    cursor: pointer;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-md);
    
    transition: transform 0.2s ease;
    will-change: transform;

    /* Force to use gpu, looks better for animations */
    transform: translateZ(0);
    backface-visibility: hidden;
}

.button:hover {
    transform: scale(1.05);
    color: var(--color-black);
}

.button--accent {
    color: var(--color-black);
    background-color: var(--color-accent);
}