.button {
    border: none;
    cursor: pointer;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-md);
    transition: 
        background-color 0.2s ease,
        color 0.2s ease;
}

.button:hover {
    background-color: var(--color-black);
    color: var(--color-primary);
}

.button--accent {
    color: var(--color-black);
    background-color: var(--color-accent);
}