.hero {
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 95vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero__container {
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-flow: column;
    gap: var(--spacing-lg);
    color: var(--color-primary);
    z-index: 1;
    text-align: center;
}

.hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: -1;
    object-fit: cover;

    filter: brightness(0.6) blur(7px);
}

.hero__title{
    font-size: clamp(64px, 10vw, var(--text-hero));
    color: var(--color-primary);
    font-weight: 500;
    line-height: 0.9;
}