.hero {
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 93vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero__container {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: -1;
    object-fit: cover;

    filter: brightness(0.6) blur(7px);
}